* {
  padding: 0;
  margin: 0;
}

.Home {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 244, 228);
  height: 99vh;
  padding: 25px;
}
.Gauge {
  width: 420px;
  height: 80px;
  border-radius: 5px;
  background-color: rgb(62, 62, 62);
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  border: none;
  cursor: pointer;
}

.A {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(248, 252, 180);
}
.B {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgb(248, 252, 180);
}
.C {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(248, 252, 180);
}
.D {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: rgb(248, 252, 180);
}
.Catch {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: rgb(194, 215, 249);
}
.Put {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(249, 194, 212);
}

.A:hover,
.A:focus,
.B:hover,
.B:focus,
.C:hover,
.C:focus,
.D:hover,
.D:focus {
  border: 3px solid rgb(163, 89, 5);
  background-color: #fafafa;
  cursor: pointer;
}

.Catch:hover,
.Catch:focus,
.Put:hover,
.Put:focus {
  border: 3px solid rgb(163, 89, 5);
  background-color: #fafafa;
  cursor: pointer;
}
